.design-img {
    background: url("images/design-default.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 456px;
    vertical-align: 0;
    width: 367px;
}

.flexslider ol,.flexslider ul{
	list-style: none outside none;
	padding-left: 0;
}