@charset "utf-8";
.examples-container h1{
	line-height: 36px;
    font-family: "klavika-web","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif !important;
    font-weight: 700;
}


.examples-container h2 {
    color: #333333;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: "klavika-web","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif !important;
    font-weight: 700;
}

.examples-container hr{
    border: medium none;
    height: 0.75em;
    margin: 0.75em 0;
}

.examples-list {
    float: right;
    width: 25%;
	ox-sizing: border-box;
    color: #9A1B1E;
}



.demo-frame {
    height: 350px;
    width: 70%;
    border: 1px solid #BFBFBF;
    padding: 1px;
}

.icon-eye-open:before {
	font-family: FontAwesome,"Helvetica Neue",Helvetica,Arial,sans-serif;
    content: "ÔÅÆ";
}
.icon-eye-open:after{
	font-family: FontAwesome,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.examples-list ul {
    border-top: 1px solid #CCCCCC;
    margin: 0;
    width: 100%;
}


.examples-list li {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
    line-height: 20px;
    list-style-type: none;
}
.examples-list a {
    color: #3F3F3F;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 2% 4%;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF;
}



.syntaxhighlighter {
    border-radius: 5px;
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 1em !important;
    overflow: auto !important;
    position: relative !important;
    width: 100% !important;
    box-sizing: border-box;
}

.syntaxhighlighter .CodeMirror {
    background: none repeat scroll 0 0 #EEEEEE;
}

.flexslider ol,.flexslider ul{
	list-style: none outside none;
	padding-left: 0;
}